/* -------------------------------------------------- */
/* SET-UP
/* -------------------------------------------------- */

:root {
	font-size: 62.5%;
}

html {

	//pointer-events: none;
	background: $html-background;

	@if $show-scrollbar == false {

		&::-webkit-scrollbar {
			display: none;
		}

		-ms-overflow-style: none;

	}

}


body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	color: $copy-color;
	font: $copy;
	font-size: $base-font-size;
	font-feature-settings: 'lnum' on;
	font-variant-numeric: lining-nums;
	text-rendering: optimizeLegibility;
	background: $body-background;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*-webkit-overflow-scrolling: touch;
	touch-action: none;*/
}


/* -------------------------------------------------- */
/* PREVENT FOUC 
/* -------------------------------------------------- */

html {

	visibility: hidden;
	overflow: {
		x: hidden;
		y: scroll;
	}

	&.swup-enabled,
	&.visible {
		visibility: visible;
	}

	&.is-locked {
		overflow: {
			x: hidden;
			y: hidden;
		}
	}

	&.no-js {

		visibility: visible;
		overflow: {
			x: hidden;
			y: hidden;
		}
		background-color: $charcoal;

		body main {
			display: none;
		}
		
	}

}


/* -------------------------------------------------- */
/* MAIN
/* -------------------------------------------------- */

main {
	background: map-get($main, background);
}


/* -------------------------------------------------- */
/* ERROR: JS DISABLED
/* -------------------------------------------------- */

/* PARENT */
noscript {

	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	div {

		@extend .center-vh;

		position: absolute;
		top: 50%;
		left: 50%;
		font: $font-stack;
		font-size: 1em;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 300px;
		color: $primary;
		text-align: center;

		img {
			display: block;
			width: 75%;
			margin: auto;
			padding-bottom: 1rem;
		}

		h1 {
			font-size: 1em;
		}

		p {
			font-weight: bold;
		}

	}

}


/* -------------------------------------------------- */
/* ERROR: WINDOW RESIZE
/* -------------------------------------------------- */

/* PARENT */
#error {

	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 100%;
	background-color: $charcoal;

	p {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0 0.75rem 0 0.75rem;
		width: 100%;
		color: $white;
		font: $copy;
		font-size: 1.25em;
		text-align: center;
		transform: translateX(-50%) translateY(-50%);
	}

	@include break($type: 'width', $min: 0, $max: 319px, $orientation: '') {
		z-index: 9999;
		display: block;
	}

}

@include break($type: 'width', $min: 0, $max: 319px, $orientation: '') {

	html {
		overflow: {
			x: hidden;
			y: hidden;
		}
	}

}
