/* -------------------------------------------------- */
/* TEXT BLOCK
/* -------------------------------------------------- */

// OPTIONS
$text-block-options: (
	duration: 600ms, // Set the duration of the animation.
	delay: 0ms, // Delay the animation by this amount. 
	ease: $easeNatural // Set the easing type for this animation.
);


// MAIN
.text-block {

	padding: {
		top: 6rem;
		right: 4rem;
		bottom: 6rem;
		left: 4rem;
	}
	//width: 50%;

	> h1 {
		position: relative;
		margin-bottom: 6rem;
		padding: 0;
		//font-kerning: none;
		word-wrap: break-word;
		transform-origin: right center;
	}

	> p {

		position: relative;
		padding: 0;
		//text-align: justify;
		white-space: normal;

		&:not(:first-child):not(:last-child) {
			margin-bottom: 4rem;
		}

	}

	> .button {

		margin: {
			top: 10rem;
			bottom: 0;
		};

		@include break($type: 'width', $min: $mobile, $max: $laptop, $orientation: 'portrait') {
			max-width: 75%;
		}

	}

	@include break($type: 'width', $min: 0, $max: $tablet, $orientation: '') {
		padding: {
			//top: $gutter;
			right: 2rem;
			//bottom: $gutter;
			left: 2rem;
		}
	}

	@include break($type: 'width', $min: 0, $max: $tablet, $orientation: 'portrait') {
		width: 100%;
	}

}
