/* -------------------------------------------------- */
/* LIST SEPARATOR
/* -------------------------------------------------- */

// OPTIONS
$list-separator-options: (
	text-color: $primary,
	text-hover-color: $white,
	active-text-color: $black,
	background-color: $white,
	background-hover-color: $primary,
	active-background-color: $white,
	duration: 200ms, // Set the duration of the animation.
	delay: 0, // Delay the animation by this amount. 
	ease: $easeWipe // Set the easing type for this animation.
);


// MAIN
.list-separator {

	li {

		&:not(:last-child)::after {
			@include transition(
				$property: (opacity),
				$duration: map-get($component-options, duration),
				$delay: map-get($component-options, delay),
				$ease: map-get($component-options, ease),
				$optimize: true
			);
			opacity: 1;
		}


		&.no-separator:not(:last-child)::after { 
			opacity: 0;
		}

	}

	@include break($type: 'width', $min: 0, $max: $mobile, $orientation: '') {
		//display: none;
	}
	
}
