/* -------------------------------------------------- */
/* DROP CAP
/* -------------------------------------------------- */

.drop-cap {

	&:first-child:first-letter {
		float: left;
		margin: {
			top: 3rem;
			right: 3rem;
			bottom: 0em;
			left: 0;
		}
		color: $primary;
		font: $subheadline;
		font-size: 5em;
	}

}
