/* -------------------------------------------------- */
/* IMAGE
/* -------------------------------------------------- */

// COMMON
img {
	display: block;
	width: auto;
	height: auto;
	border: 0;
}


// SIZES
.img {

	@each $name, $width in $widths {

		&-#{$name} {

			@include breakpoint($prefix: '-', $suffix: '') {
				max-width: round($width);
			}

		}

	}

}

.thumb {

	@each $name, $amount in $amounts {

		&-#{$name} {

			@include breakpoint($prefix: '-', $suffix: '') {
				max-width: round($amount * 10);
			}

		}

	}

}


/* -------------------------------------------------- */
/* SVG 
/* -------------------------------------------------- */

svg {
	//display: block;
	//width: 100%;
	//height: auto;
	//max-height: 100px;
	shape-rendering: auto;
}


/* -------------------------------------------------- */
/* CANVAS 
/* -------------------------------------------------- */

canvas {
	display: block;
}


/* -------------------------------------------------- */
/* IFRAME 
/* -------------------------------------------------- */

iframe {
	border: 0;
}


/* -------------------------------------------------- */
/* VIDEO 
/* -------------------------------------------------- */

.media-frame {

	@include shadow($type: 'box-shadow', $color: $charcoal, $x: 10px, $y: 10px, $blur: 50px, $spread: 0, $alpha: 0.12, $strength: 0, $inset: false);
	position: relative;
	height: auto;
	background: $gray;

	&::after {

		@extend .pseudo;
		z-index: auto;
		pointer-events: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 10px solid $white;

	}

	video {
		cursor: pointer;
		display: block;
		position: relative;		
		width: 100%;
	}

}
