/* -------------------------------------------------- */
/* ROTATE
/* -------------------------------------------------- */

.rotate {

	&-90 {

		@include breakpoint($prefix: '-', $suffix: '') {
			transform: rotate(-90deg);
		}

	}

	&-45 {

		@include breakpoint($prefix: '-', $suffix: '') {
			transform: rotate(45deg);
		}

	}

}

.flip {

	&-x {

		@include breakpoint($prefix: '-', $suffix: '') {
			transform: scaleX(-1);
		}

	}

	&-y {

		@include breakpoint($prefix: '-', $suffix: '') {
			transform: scaleY(-1);
		}
		
	}

}
